In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'Apples':[30], 'Bananas' : [21]})

   Apples  Bananas
0      30       21

In [3]:
pd.DataFrame({'Apples':[35,51], 'Bananas' : [21,34]}, index = ['2017 Sales', '2018 Sales'])

            Apples  Bananas
2017 Sales      35       21
2018 Sales      51       34

In [5]:
ingredients = pd.Series(['4 cups', '1 cup', '2 large', '1 can'], 
                        index = ['Flour', 'Milk', 'Eggs', 'Spam'], 
                        name='Dinner')
print(ingredients)

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [6]:
fruit_sales = pd.DataFrame({'Apples':[35,51], 'Bananas' : [21,34]}, index = ['2017 Sales', '2018 Sales'])

In [7]:
fruit_sales.to_csv('fruit_sales.csv')