In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'Yes':[50, 21], 'No' : [131, 2]})

   Yes   No
0   50  131
1   21    2

In [3]:
pd.DataFrame({'Bob' : ['I liked it.','It was awful'], 'Sue' : ['Pretty good', 'Bad']})

            Bob          Sue
0   I liked it.  Pretty good
1  It was awful          Bad

In [5]:
pd.DataFrame({'Bob' : ['I liked it.','It was awful'],
              'Sue' : ['Pretty good', 'Bad']}, 
             index = ['Product A', 'Product B'])

                    Bob          Sue
Product A   I liked it.  Pretty good
Product B  It was awful          Bad

In [6]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
pd.Series([30,40,50], index = ['2015 sales', '2016 sales', '2017 sales'], name='Product A')

2015 sales    30
2016 sales    40
2017 sales    50
Name: Product A, dtype: int64

In [15]:
food_review = pd.DataFrame({'Bob' : ['I liked it.','It was awful'],
              'Sue' : ['Pretty good', 'Bad']}, 
             index = ['Product A', 'Product B'])

In [16]:
food_review.shape

(2, 2)

In [18]:
food_review.head()

                    Bob          Sue
Product A   I liked it.  Pretty good
Product B  It was awful          Bad

## Tip
Use pd.read_csv() function to read in csv files to python

Use index_col parame